

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.font-geist {
  font-family: "Geist", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-jetbrains {
  font-family: "JetBrainsMono", monospace;
}